.spotclass h2 {
    /* font-size: 36px;
    font-weight: bold;
    marg */
    text-align: center;
    
}

.forimage {
    width: 250px;
    height: 260px;
}

.forFirst {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 10px;

}

.forinside {
    height: 40px;
    display: flex;
    justify-content: space-between;
    overflow: auto;

  
}

.forNew {
    width: 200px;
    padding: 10px;
 margin: 0 10px;
background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.fornav {
    max-width: 100%;
    max-height: 100%;

}
.priceandavg{
    display: flex;
    justify-content: space-between;
    align-items: center;
}