.update-booking-form {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 30px;
    border-radius: 10px;
    padding-bottom: 30px;
}

.update-booking-form h2{
   font-size: 24px;
   text-align: center;
}
.update-booking-form input[type="text"],
.update-booking-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}
.update-booking-form input[type="text"]:focus,
.update-booking-form textarea:focus {
    outline: none;
    border-color: #4285f4;
}
.update-booking-form button[type="submit"]{
    background-color: #4285f4;
    color: aliceblue;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 255px;
}
.update-booking-form button[type="submit"]:hover {
    background-color: #a6acb7;
}