/* footer {
    background-color: white;

    display: flex;
    justify-content: center;
    flex-direction: row;

} */
footer {
    margin-top: 20px;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.footerdiv{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    gap: 50px;
    margin-left: 60px;
}
/* .mylinkk {
       color: #666;
       text-decoration: none;
       font-size: 16px;
      
   }

.mylink:hover {
      color: rgb(70, 68, 172);
  }
.footer-bottom {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding-top: 30px;
  }
.footer-bottom {
      width: 30%;
  } */
.mylinkk {
    color: #666;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;

}