.profile-page-user-banner {
    display: flex;
    /* background-color: rgb(216, 212, 212); */
    width: 150px;
    /* justify-content: center; */
}

.profile-page-user-icon-background {
    /* background-color: gray; */
    height: 140px;
    width: 140px;
    /* overflow: hidden;  */
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}
.profile-page-user-icon-background img {
    
    border-radius: 50%;
    width: 140px;
    height:140px;
    object-fit: cover;
}

.profile-page-user-info {
    display: flex;

    flex-direction: column;
    padding: 10px;
}

.maindiv {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
}