.profile-page-user-mem-banner {
    display: flex;
    /* background-color: rgb(216, 212, 212); */
    width: 480px;
    height: 210px;
    /* justify-content: center; */
}

.profile-page-user-icon-background {
    /* background-color: gray; */
    height: 175px;
    width: 175px;
    /* overflow: hidden;  */
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}
.profile-page-user-icon-background img {
    
    border-radius: 50%;
    width: 173px;
    height:173px;
    object-fit: cover;
}

.profile-user-mem-info {
    display: flex;

    flex-direction: column;
    padding: 0px;
    margin: 0 0 0 30px ;
    width: 279px;
    
}

.maindivprofile {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}

.holdingimage{
    margin: 0 auto;
}

.secondmainprofile {
    display: flex;
    justify-content: center;
    gap: 200px;
   
   
}
.holdingdashboard{
    width: 400px;
}
.holdingbookings{
    width: 400px;
}
.Gold{
  
    color: rgba(212, 182, 8, 0.67);
    font-size: 20;
}
.Silver{
    color: rgb(161, 156, 156);
    font-size: 20px;
}
.heru{
    display: flex;
    
    align-items: center;
    gap: 15px;
}
.Bronze{
    font-size: 20px;
}