/* Styles for the overall form container */
.create-service-form {
    max-width: 600px;
    margin: 0 auto;
}


/* Styles for the form h1 element */
#create-service-h1-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

/* Styles for each individual input group */
.create-business-form div {
    margin-bottom: 20px;
}

/* Styles for the labels */
.create-business-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Styles for the text inputs */
.create-business-form input[type="text"],
.create-business-form input[type="number"],
.create-business-form select,
.create-business-form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Styles for the checkbox container */


/* Styles for the checkbox */


.create-business-form__checkbox input[type="checkbox"] {
    margin-right: 5px;
}

/* Styles for the submit button */
#create-service-submit {
    margin: 40px 0 150px 0;
}

#create-service-submit button {
    background-color: rgb(25, 110, 237);
    ;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

/* Styles for the header */
.create-service-form h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Styles for the preview photo input */
.create-service-form h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.create-service-form p {
    margin-bottom: 10px;
}



/* Styles for invalid form errors */

.validationErrors {
    color: red;
}/* Styles for the overall form container */


/* Styles for the form h1 element */
#create-service-h1-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

/* Styles for each individual input group */
.create-service-form div {
    margin-bottom: 10px;
}

/* Styles for the labels */
.create-business-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

